.modal {
    overflow-y:auto;
    display: none;
    width: 100%;
    height: 100%; 
  }
  
  .modal-content {
    position: relative; 
    background-color: white;
    padding: 10px; 
    margin: auto; 
    width: 100%;
  }
 
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }

