{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<h1> About </h1>
<div class="container" , width="600">
    <p></p>
    <p> Obligata is a contract management system. It provides faciities to hold details of a contract, then to manage
        the clauses, issues, risks and changes associated with the contract.
    </p>
    <p>Multiple people (some maybe from different organisations, such as suppliers) can share details of the contract
        and engage in a dialogue around them. For instance a contract issue may require both the client and the supplier
        to be made aware of a problem and jointly work though a solution. All of the detail is stored in an ongoing
        dialogue and kept. Allowing for later review.
    </p>
    <p>The advanced security allows individuals to be assigned to specifc contracts, and authorised to peform only
        specific actions. This granular level of security ensures only authorised people see the contracts they are
        engaged with. Different roles can perform different functions (e.g. allowing for seperation of duties).</p>
    </p>
    <p>Obligata provides improves contract management. It enables contracts to be managed in a visable and controlled
        way, providing visability of a contracts lifecycle, and audit trails of actions.
    </P>
    <p>While Obligata has extensive reporting and analytic capabilities. The data used to manage contracts in Obligata
        is openly available allowing detailed management reports and analytics to be developed for even greater insight
        into contract performance.
    </p>
</div>
{% endblock %}