{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<h1> Configuration </h1>
<br>
<form>
    <div class="container">
        <div class="row">
            <div class="col"><label for="workgroups">Workgroups:</label></div>
            <div class="col"><input type="textfield" id="workgroups" name="workgroups"></div>
        </div>
    </div>
    <div class="row">
        <div class="col"><button type="button" class="btn btn-danger" id="DelBtn">Delete</button></div>
        <div class="col-md-auto"> </div>
        <div class="col"><button type="button" class="btn btn-success" id="SubBtn" >Submit</button></div>
        <div class="col"><button type="button" class="btn btn-secondary" id="CanBtn" data-dismiss="modal">Cancel</button></div>
    </div>
</form>
{% endblock %}