{% set module = 'contractitems' %}
{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<h1>Contract Items</h1>

<div id="contractdetails"></div>

<h2>Contract Clauses</h2>
<button id="AddBtn">+Add</button>
<p>
<div id="table"></div>
<script>
    // Data for the Table
    var contract = {{contract|safe}};
    // Create the Table
    var table = new Tabulator("#contractdetails", {
            data: contract,
            columns:[{title:'title',field:'title'},{title:'description',field:'description'}]
        });
</script>

{% include "CRUD modal.html" %}
{% endblock %}