{% block CRUDmodal %}
<!-- The Modal -->
<div id="AddModal" class="modal"style="overflow-y:auto;">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
                <h3>Add / Change and Delete</h3>
				<span class="close-btn">&times;</span>
			</div>
			<div class="modal-body">
                <div class="container">
					<form>
                        {% if module=="actor" %}
                            {%set noview= ["actorid","createdt","updatedt","upduserid"] %}
                        {% elif module=="contract" %}
                            {%set noview= ["contractid","contractdoc","createdt","updatedt","upduserid"] %}
                        {% elif module=="clause" %}
                            {%set noview= ["contractid","clauseid","createdt","updatedt","upduserid"] %}
                        {% elif module=="issue" %}
                            {%set noview= ["issueid","createdt","updatedt","upduserid"] %}
                        {% elif module=="risk" %}
                            {%set noview= ["riskid","createdt","updatedt","upduserid"] %}
                        {% elif module=="change" %}
                            {%set noview= ["changeid","createdt","updatedt","upduserid"] %}
                        {% else %}
                            {%set noview= ["createdt","updatedt","upduserid"] %}
                        {% endif %}
                        {% for item in columns if not item in noview %} 
                        <div class="form-group">
                            <label for="{{item}}">{{item}}:</label>
                            {% if item=="status" %}
                            <select class="form-control" type="text" id="{{item}}">
                                <option>Normal</option>
                                <option>Warning</option>
                                <option>Attention</option>
                            </select>
                            {% elif item=="active" %}
                            <select class="form-control" type="text" id="{{item}}">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                            {% elif item in ["priority","impact"] %}
                            <select class="form-control" type="text" id="{{item}}">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                            {% elif item=="adminlevel" %}
                            <select class="form-control" type="text" id="{{item}}">
                                <option>Administrator</option>
                                <option>Owner</option>
                                <option>Contributor</option>
                                <option>Reviewer</option>
                                <option>Sys Admin</option>
                            </select>
                            {% elif item=="contractid" %}
                            <select class="form-control" type="text" id="{{item}}">
                                {% for contsel in contracts%}
                                <option value="{{contsel['contractid']}}">{{contsel['title']}}</option>
                                {% endfor %}
                            </select>
                            {% elif item in ["startdate","enddate","duedate","milestonedate"] %}
                            <input class="form-control" type="date" id="{{item}}">
                            {% else %}
                            <input class="form-control" type="text" id="{{item}}">
                            {% endif %}
                        </div>{% endfor %}
                        {% for item in noview %}
                        <div style="display: none;">
                            <input type="text" id="{{item}}">
                        </div>{% endfor %}
                    </form>
                </div>
			</div>
			<div class="modal-footer">
                <div class="row">
                    <div class="col"><button type="button" class="btn btn-danger" id="DelBtn">Delete</button></div>
                    <div class="col-md-auto"> </div>
                    <div class="col"><button type="button" class="btn btn-success" id="SubBtn" >Submit</button></div>
                    <div class="col"><button type="button" class="btn btn-secondary" id="CanBtn" data-dismiss="modal">Cancel</button></div>
                </div>
			</div>
		</div>
	</div>
</div>
<script>
// Data for the Table
var data = {{data|safe}};
var cols = {{columns|safe}};
var module = '{{module|safe}}';
var id = '{{id}}';
var userid = '{{userid}}';
if (module == 'contract') {
    var noview = ['contractid','clientsponsor','clientowner','clientmanager','suppliermanager']
    }
// Create the table columns view
colsview=[]
for (item in cols) {
    visible=true
    if(noview.includes(cols[item]) == true) {
        visible=false
        }
    if(cols[item] == id) {
        m=module+"/"+cols[item]+"/"
        colsview.push({title:cols[item],field:cols[item],
            formatter:"link",formatterParams:{urlPrefix:m},
            visible:visible})
    } else {
        colsview.push({title:cols[item],field:cols[item],
            visible:visible})
    }
}
console.log(JSON.stringify(colsview, null, 4));
// Create the Table
var table = new Tabulator("#table", {
        data: data, pagination:"local",paginationAddRow:"table",paginationSize:10,
        persistentLayout: true, persistentSort: true, persistenceID:"Persistance".concat(module),
        layout:"fitColumns",addRowPos:"top", columns:colsview,
// When the DOUBLE user clicks on a row in the table, open the modal with the values of that row
        rowDblClick:function(e, row){
            for(item in cols){ 
                document.getElementById(cols[item]).value = row.getData()[cols[item]];
                }
        modal.style.display = "block";
        },
    });
    
// Get the modal
var modal = document.getElementById("AddModal");

// When the user clicks on the ADD button, open the modal with blank values 
document.getElementById("AddBtn").onclick = function() {
    for (item in cols) {
        document.getElementById(cols[item]).value = "";
        }
    modal.style.display = "block";
    }

//In the modal when use clicks the SUBMIT button create a JSON string and return it to FLASK
   //If the create date is blank then INSERT, else UPDATE record
document.getElementById("SubBtn").onclick = function() {
    dd={}
    for(item in cols){
        dd[cols[item]]=document.getElementById(cols[item]).value
        }
//    console.log(JSON.stringify(data, null, 4));
    dd[updatedt]=new Date().toISOString().slice(0, 19).replace('T', ' ');
    if (dd[createdt]=="") {
        dd[createdt]=dd[updatedt];
        }
    dd.upduserid = userid;
    $.ajax({
        type: "POST", dataType: "json", contentType: "application/json",
        url: "/"+module+"/upsert",
        data: JSON.stringify(dd),
        success: function(response) {console.log(response);},
        error: function(err) {console.log(err);}
    });
    modal.style.display = "none";
    }

//In the modal when use clicks the Delete button create a JSON string and return it to FLASK
document.getElementById("DelBtn").onclick = function() {
    var r = confirm("Confirm Delete !");
        if (r==true) {
            $.ajax({
                type: "POST", dataType: "json", contentType: "application/json",
                url: "/"+module+"/delete",
                data: JSON.stringify(document.getElementById("{{id}}").value),
                success: function(response) {console.log(response);},
                error: function(err) {console.log(err);}
                });
            }
    modal.style.display = "none";
    }
// Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close-btn")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks on the CANCEL button in the modal close the modal
document.getElementById("CanBtn").onclick = function() {
    modal.style.display = "none";
    }

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
} 
</script>
{% endblock %}