{% block CRUDmodal %}

<div class="container-fluid">
    <div class="row" style="padding-left: 5%;padding-right: 5%;">
        <div class="row"></div>
            <button id="AddBtn">+Add</button>
        </div>
        <p>
        <div class="row"></div>
            <div id="table"></div>
        </div>
    </div>
    <br>
<!-- Detail of single row table and comments entry fields for dialogue -->
    <div class="row" style="padding-left: 5%;padding-right: 5%;">
        <div class="col">
            <div id="SelectedDataTable"></div>			
        </div>
        <div class="col">
            <div class="input-group">
                <span class="input-group-text font-weight-bold">Enter comments here</span>
                <textarea id="DialogText" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <br>
            <div class="text-right">
                <button id="DialogSubmit" class="btn btn-outline-secondary" type="button">Submit</button>
            </div>
        </div>
    </div>
    <!-- Dialogue table -->
    <br>
    <div class="row" style="padding-left: 5%;padding-right: 5%;">
        <div id="DialogDataTable"></div>			
    </div>
</div>
<!-- The Modal -->
<div id="AddModal" class="modal"style="overflow-y:auto;">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
                <h3>Add / Change and Delete</h3>
				<span class="close-btn">&times;</span>
			</div>
			<div class="modal-body">
                <div class="container">
					<form>
                        {% if module=="actor" %}
                            {%set noview= ["actorid","createdt","updatedt","upduserid"] %}
                        {% elif module=="contract" %}
                            {%set noview= ["contractid","contractdoc","createdt","updatedt","upduserid"] %}
                        {% elif module=="clause" %}
                            {%set noview= ["contractid","clauseid","createdt","updatedt","upduserid"] %}
                        {% elif module=="issue" %}
                            {%set noview= ["issueid","createdt","updatedt","upduserid"] %}
                        {% elif module=="risk" %}
                            {%set noview= ["riskid","createdt","updatedt","upduserid"] %}
                        {% elif module=="change" %}
                            {%set noview= ["changeid","createdt","updatedt","upduserid"] %}
                        {% elif module=="supplier" %}
                            {%set noview= ["supplierid","createdt","updatedt","upduserid"] %}
                        {% elif module=="access" %}
                            {%set noview= ["accessid","contractid","createdt","updatedt","upduserid"] %}
                        {% else %}
                            {%set noview= ["createdt","updatedt","upduserid"] %}
                        {% endif %}
                        {% for item in columns if not item in noview %} 
                        <div class="form-group">
                            <label for="{{item}}">{{item}}:</label>
                            {% if item=="status" %}
                            <select class="form-control" type="text" id="{{item}}">
                                <option>Normal</option>
                                <option>Warning</option>
                                <option>Attention</option>
                            </select>
                            {% elif item in ["active","read","add","upd","del"] %}
                            <select class="form-control" type="text" id="{{item}}">
                                <option>True</option>
                                <option>False</option>
                            </select>
                            {% elif item in ["priority","impact"] %}
                            <select class="form-control" type="text" id="{{item}}">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                            {% elif item=="adminlevel" %}
                            <select class="form-control" type="text" id="{{item}}">
                                <option>Administrator</option>
                                <option>Owner</option>
                                <option>Contributor</option>
                                <option>Reviewer</option>
                                <option>Sys Admin</option>
                            </select>
                            {% elif item=="contractid" and cid!="" %}
                            <input class="form-control" type="text" id="{{item}}">
                            {% elif item=="contractid" and cid=="" %}
                            <select class="form-control" type="text" id="{{item}}">
                            {% for contsel in contracts%}
                            <option value="{{contsel['contractid']}}">{{contsel['title']}}</option>
                            {% endfor %}
                            </select>
                            {% elif item=="actorid" %}
                            <select class="form-control" type="text" id="{{item}}">
                            {% for actorsel in actors%}
                            <option value="{{actorsel['actorid']}}">{{actorsel['email']}}</option>
                            {% endfor %}
                            </select>
                            {% elif item in ["startdate","enddate","duedate","milestonedate"] %}
                            <input class="form-control" type="date" id="{{item}}">
                            {% else %}
                            <input class="form-control" type="text" id="{{item}}">
                            {% endif %}
                        </div>{% endfor %}
                        {% for item in noview %}
                        <div style="display: none;">
                            <input type="text" id="{{item}}">
                        </div>{% endfor %}
                    </form>
                </div>
			</div>
			<div class="modal-footer">
                <div class="row">
                    <div class="col"><button type="button" class="btn btn-danger" id="DelBtn">Delete</button></div>
                    <div class="col-md-auto"> </div>
                    <div class="col"><button type="button" class="btn btn-success" id="SubBtn" >Submit</button></div>
                    <div class="col"><button type="button" class="btn btn-secondary" id="CanBtn" data-dismiss="modal">Cancel</button></div>
                </div>
			</div>
		</div>
	</div>
</div>
<script>
// Base parameters (data inserted by JINJA from FLASK main.py)
var module = '{{module|safe}}';
var userid = '{{userid}}';
var cid = '{{cid}}'
var sid = '{{sid}}'
var status = '{{status}}'
var cols = {{columns|safe}};    
var id = '{{id}}';
// For each module list which fields are n ot visable in the modal display
var noview = []
switch (module) {
    case 'contract' :
        noview = ['contractid','clientsponsor','clientowner','clientmanager','suppliermanager'];
        break;
    case 'actor' :
        noview = ['actorid','role','telephone'];
        break;
    case 'issue' :
        noview = ['issueid','contractid','clauseid'];
        break;
    case 'risk' :
        noview = ['riskid','contractid','clauseid'];
        break;
    case 'change' :
        noview = ['changeid','contractid','clauseid'];
        break;
    case 'supplier' :
        noview = ['supplierid'];
        break;
    case 'access' :
        noview = ['accessid'];
        break;
    }
// Create the table columns view make visable only columns needed, and add href
var colsview = []
for (item in cols) {
    visible=true
    if(noview.includes(cols[item]) == true) {
        visible=false
        }
    if(cols[item] == "status")
        colsview.push({title:cols[item],field:cols[item],
            formatter:function(cell, formatterParams){
                var value = cell.getValue();
                 if(value == "Attention"){
                     return "<span style='color:red;'>" + value + "</span>";
                 } else if (value == "Warning"){
                    return "<span style='color:orange;'>" + value + "</span>";
                    } else {
                     return "<span style='color:green;'>" + value + "</span>";
                 }
             },visible:visible})
    else if(cols[item] == "title") {
        colsview.push({title:cols[item],field:cols[item],
            formatter:"link",formatterParams:{urlPrefix:module+"/"+id+"/",urlField:id},
            visible:visible})
         } 
    else if(["startdate","enddate","duedate"].includes(cols[item]) == true) {
        colsview.push({title:cols[item],field:cols[item],
            formatter:"datetime", formatterParams:{
                inputFormat:"YYYY-MM-DD",outputFormat:"DD/MM/YY",
                invalidPlaceholder:"(invalid date)"},
            visible:visible})         
        }
        else if(["createdt","updatedt"].includes(cols[item]) == true) {
            colsview.push({title:cols[item],field:cols[item],
                formatter:"datetime", formatterParams:{
                    outputFormat:"DD/MM/YY HH:MM",
                    invalidPlaceholder:"(invalid date)"},
                visible:visible})         
            }
    else {
        colsview.push({title:cols[item],field:cols[item],
            visible:visible})
    }
}
// Add Issue, Risk and Change buttons to contract or supplier module tables
if(module == 'contract' || module == 'supplier'){
    var Accessbtn = function(cell, formatterParams){
        return '<button type="button" class="btn-warning">A </button>';};
    var Issuebtn = function(cell, formatterParams){
        return '<button type="button" class="btn-warning">I </button>';};
    var Riskbtn = function(cell, formatterParams){
        return '<button type="button" class="btn-warning">R</button>';};
    var Changebtn = function(cell, formatterParams){
        return '<button type="button" class="btn-warning">C</button>';};
    if(module == 'contract') {
        colsview.unshift({formatter:Riskbtn, width:10, hozAlign:"center",
            cellClick:function(e, cell){window.location.href ="/risk/contractid/"+cell.getRow().getData().contractid}})
        colsview.unshift({formatter:Changebtn, width:10, hozAlign:"center",
            cellClick:function(e, cell){window.location.href ="/change/contractid/"+cell.getRow().getData().contractid}})
        colsview.unshift({formatter:Issuebtn, width:10, hozAlign:"center",
            cellClick:function(e, cell){window.location.href ="/issue/contractid/"+cell.getRow().getData().contractid}})
        colsview.unshift({formatter:Accessbtn, width:10, hozAlign:"center",
            cellClick:function(e, cell){window.location.href ="/access/contractid/"+cell.getRow().getData().contractid}})
        }
    else {
// TO BE IMPLEMENTED LATER
//        colsview.unshift({formatter:Riskbtn, width:10, hozAlign:"center",
//            cellClick:function(e, cell){window.location.href ="/risk/supplierid/"+cell.getRow().getData().supplierid}})
//        colsview.unshift({formatter:Changebtn, width:10, hozAlign:"center",
//            cellClick:function(e, cell){window.location.href ="/change/supplierid/"+cell.getRow().getData().supplierid}})
//        colsview.unshift({formatter:Issuebtn, width:10, hozAlign:"center",
//            cellClick:function(e, cell){window.location.href ="/issue/supplierid/"+cell.getRow().getData().supplierid}})
        }
    }
// console.log(JSON.stringify(colsview, null, 4));
// Create the Tables - first the table showing the selected row of data
var selectedData=[]
var selectedDataTable = new Tabulator("#SelectedDataTable",{
    columns:[{title:"Description",field:"description"},{title:"Value",field:"value"}],
    addRowPos:"top",layout:"fitColumns"
    });
// Create the Tables - second the table showing the dialogue
var DialogData=[]
var DialogDataTable = new Tabulator("#DialogDataTable",{
    data:DialogData,
    columns:[{title:"Type",field:"type"},{title:"Comments",field:"comments"},
            {title:"Userid",field:"upduserid"},
            {title:"Date",field:"createdt"}],
    pagination:"local",paginationAddRow:"table",paginationSize:20,
    addRowPos:"top",layout:"fitColumns"
    });
// Get the Data for the main Table (this calls a function which calls a database stored procedure)
// The only data returned is the data which the user is authorised to see
var TableData = $.ajax({
    type: "POST", dataType: "json", contentType: "application/json",async: false,
    url: "/getbasedata",
    data: JSON.stringify({module:module,userid:userid,cid:cid,sid:sid,status:status}),
    success: function(results) {return results;},
    error: function(err) {console.log(err);}
    }).responseJSON;
// Create the Tables - finally the table showing the data
var table = new Tabulator("#table", {
        data:TableData,selectable:1,
        pagination:"local",paginationAddRow:"table",paginationSize:20,
        placeholder:"No Data Available",height:"70%",
        persistence:{sort:true,columns:true}, persistenceID:"Persistance".concat(userid),
        layout:"fitColumns",addRowPos:"top",
        columns:colsview,
// When the SINGLE user clicks on a row in the table, update the row table
// and change the dialog box to show only records for that contract
        rowClick:function(e, row){
            row.select();
            var selectedData = table.getSelectedData()[0];
            selectedDataTable.clearData();
            for (let[key,value] of Object.entries(selectedData)) {
                selectedDataTable.addRow({description:key, value:value}, true);
                }
            cid=selectedData["contractid"]
            var DialogData = $.ajax({
                type: "POST", dataType: "json", contentType: "application/json", async: false,
                url: "/getbasedata",
                data: JSON.stringify({module:'dialog',userid:userid,cid:cid,sid:"",status:""}),
                success: function(results) {return results;},
                error: function(err) {console.log(err);}
                }).responseJSON;
            DialogDataTable.setData(DialogData);
        },
// When the DOUBLE user clicks on a row in the table, open the modal with the values of that row
        rowDblClick:function(e, row){
            for(item in cols){ 
                document.getElementById(cols[item]).value = row.getData()[cols[item]];
                }
        modal.style.display = "block";
        },
    });

// When user presses on submit button for dialog, record is added to dialog table
document.getElementById("DialogSubmit").onclick = function() {
        Dialog={}
        Dialog.parentid = "0";
        Dialog.contractid = table.getSelectedData()[0]['contractid'];
        Dialog.clauseid = "0";
        Dialog.issueid = "0";
        Dialog.riskid = "0";
        Dialog.changeid = "0";
        Dialog.supplierid = "0";
        if (module="issue") {
            Dialog.issueid = table.getSelectedData()[0]['issueid'];
            }
        else if (module="risk") {
            Dialog.riskid = table.getSelectedData()[0]['riskid'];
            }
        else if (module="change") {
            Dialog.changeid = table.getSelectedData()[0]['changeid'];
            }
        Dialog.comments=document.getElementById("DialogText").value
        Dialog.createdt=new Date().toISOString().slice(0, 19).replace('T', ' ');
        Dialog.upduserid=userid
        Dialog.status="Normal"
        DialogDataTable.addRow(Dialog, true);
        $.ajax({
            type: "POST", dataType: "json", contentType: "application/json",
            url: "/dialog/insert",
            data: JSON.stringify(Dialog),
            success: function(response) {console.log(response);},
            error: function(err) {console.log(err);}
        });
        } 

// Get the modal
var modal = document.getElementById("AddModal");

// When the user clicks on the ADD button, open the modal with blank values 
document.getElementById("AddBtn").onclick = function() {
    for (item in cols) {
        document.getElementById(cols[item]).value = ""; 
        if (cols[item]=="contractid" && cid!="") {
            document.getElementById(cols[item]).value = cid;
            }
        }
    modal.style.display = "block";
    }

//In the modal when use clicks the SUBMIT button create a JSON string and return it to FLASK
//Flask passess and UPSERT to the database, the table is also updated on the screen
document.getElementById("SubBtn").onclick = function() {
    dd={}
    for(item in cols){
        dd[cols[item]]=document.getElementById(cols[item]).value
        }
//    console.log(JSON.stringify(data, null, 4));
    dd.updatedt=new Date().toISOString().slice(0, 19).replace('T', ' ');
    if (dd.createdt=="") {
        dd.createdt=dd.updatedt;
        table.addData(dd);
        }
    else {
//        table.updateData(dd);  This needs to be fixed, should work as 'index' set in table variable
    }
    dd.upduserid = userid;
    $.ajax({
        type: "POST", dataType: "json", contentType: "application/json",
        url: "/"+module+"/upsert",
        data: JSON.stringify(dd),
        success: function(response) {console.log(response);},
        error: function(err) {console.log(err);}
    });
    modal.style.display = "none";
    }

//In the modal when use clicks the Delete button create a JSON string and return it to FLASK
document.getElementById("DelBtn").onclick = function() {
    var r = confirm("Confirm Delete !");
        if (r==true) {
            $.ajax({
                type: "POST", dataType: "json", contentType: "application/json",
                url: "/"+module+"/delete",
                data: JSON.stringify(document.getElementById("{{id}}").value),
                success: function(response) {console.log(response);},
                error: function(err) {console.log(err);}
                });
            }
    modal.style.display = "none";
    }
// Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close-btn")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks on the CANCEL button in the modal close the modal
document.getElementById("CanBtn").onclick = function() {
    modal.style.display = "none";
    }
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
} 
</script>
{% endblock %}