{% set module = 'home' %}
{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container" >
    <div class="row" style="padding:10px;">
        <div class="col-2">
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Contracts</h5>
                        <a href="/views?action=contract" type="button" class="btn w-100 btn-info" id="contractsbtn">{{contracts}}</a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Issues</h5>
                        <a href="/views?action=issue" type="button" class="btn w-100 btn-success" id="issuesbtn">{{issues}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Attention</h5>
                        <a href="/views?action=contract&status=Attention" type="button" class="btn w-100 btn-danger" id="attentionbtn">{{attention}}</a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Changes</h5>
                        <a href="/views?action=change" type="button" class="btn w-100 btn-danger" id="changesbtn">{{changes}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Warning</h5>
                        <a href="/views?action=contract&status=Warning" type="button" class="btn w-100 btn-warning" id="warningbtn">{{warning}}</a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Risks</h5>
                        <a href="/views?action=risk" type="button" class="btn w-100 btn-success" id="risksbtn">{{risks}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <canvas id="contracts-pie-chart" width="200" height="100" ></canvas>
        </div>
    </div>
    <div class="row" style="padding: 10px;">
        <div class="col-6">
            <canvas id="irac-activity-bar-chart" width="300" height="150" ></canvas>
        </div>
        <div class="col-6">
            <canvas id="dialog-activity-bar-chart" width="300" height="150" ></canvas>
        </div>
    </div>
    <div class="row" style="padding: 10px;">
        <div class="col-6">
            <canvas id="overdue-clauses-bar-chart" width="200" height="100" ></canvas>
        </div>
        <div class="col-6">
            <canvas id="clauses-bar-chart" width="200" height="100"></canvas>
        </div>
    </div>
    <div class="row" style="padding: 10px;">
        <div id="DialogDataTable"></div>
    </div>
</div>
<!-- Dialogue Modal -->
<div id="DialogModal" class="modal"style="overflow-y:auto;">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
                <h3>Dialogue history</h3>
				<span class="dclose-btn">&times;</span>
			</div>
			<div class="modal-body">
                <div class="container">
					The Body
                </div>
			</div>
			<div class="modal-footer">
                <div class="row">
                    <div class="col"><button type="button" class="btn btn-success" id="dSubBtn" >Submit</button></div>
                    <div class="col"><button type="button" class="btn btn-secondary" id="dCanBtn" data-dismiss="modal">Cancel</button></div>
                </div>
			</div>
		</div>
	</div>
</div>
<script>

dialog=[]
var module='home'
var userid='{{userid}}'
var activityData1 = {{stats|safe}}
var dialogmodal = document.getElementById("DialogModal");

//next 12 months
var theMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
var today = new Date();
var aMonth = today.getMonth()+1;
var i;
var currMonths=[]
for (i=0; i<12; i++) {
    currMonths.push(theMonths[aMonth])
    aMonth++;
    if (aMonth > 11) {
        aMonth = 0;
    }   
}
var contracttypes=["Resource","Project","Service"]

var contractclauses={attention:[65, 5, 80, 81, 56, 85, 40,0,0,0,0,1],
                    warning:[20, 10, 30, 11, 36, 45, 26],
                    normal:[80, 90, 20, 3, 11, 12, 40]
                    }

var OverDue = ["1 Day", "3 Days","1 Wk", "2 Wks", "3 Wks", "1 Mth", "2 Mth", "3 Mth", "6 Mth", "9 Mth", "1 Yr", "> 1Yr"];

// Issues, Risks, Changes, Suppliers, Contracts created Bar chart
new Chart(document.getElementById("irac-activity-bar-chart"), {type: 'bar',
    data: {labels: currMonths,
            datasets:  [
            {type: 'bar', label: 'Issues', backgroundColor: "green", data: activityData1.issues},
            {type: 'bar', label: 'Risks', backgroundColor: "yellow", data: activityData1.risks},
            {type: 'bar', label: 'Changes', backgroundColor: "blue", data: activityData1.changes},
            {type: 'bar', label: 'Suppliers', backgroundColor: "orange", data: activityData1.suppliers},
            {type: 'bar', label: 'Contracts', backgroundColor: "red", data: activityData1.contracts}                
            ]},
    options: {legend: { display: true }, title: {display: true,text: 'Activity (created records)'}}
    });
// Issues, Risks, Changes, Suppliers, Contracts created Bar chart
new Chart(document.getElementById("dialog-activity-bar-chart"), {type: 'bar',
    data: {labels: currMonths,
            datasets:  [
            {type: 'line', label: 'Issues', backgroundColor: "green", data: activityData1.issues},
            {type: 'line', label: 'Risks', backgroundColor: "yellow", data: activityData1.risks},
            {type: 'line', label: 'Changes', backgroundColor: "blue", data: activityData1.changes},
            {type: 'line', label: 'Suppliers', backgroundColor: "orange", data: activityData1.suppliers},
            {type: 'line', label: 'Contracts', backgroundColor: "red", data: activityData1.contracts}                
            ]},
    options: {legend: { display: true }, title: {display: true,text: 'Dialog (created records)'}}
    });
// Overdue Clauses Bar chart
new Chart(document.getElementById("overdue-clauses-bar-chart"), {type: 'bar',
    data: {labels: OverDue,
            datasets:  [{type: 'bar', label: 'Attention', backgroundColor: "red", data: contractclauses.attention},
                {type: 'bar', label: 'Warning', backgroundColor: "orange", data: contractclauses.warning},
                {type: 'bar', label: 'Normal', backgroundColor: "green", data: contractclauses.normal}]},
    options: {legend: { display: false }, title: {display: true,text: 'Overdue Contract Clauses'}}
    });

// Planned Clauses Bar chart
new Chart(document.getElementById("clauses-bar-chart"), {type: 'bar',
    data: {labels: currMonths,
            datasets:  [{type: 'bar', label: 'Attention', backgroundColor: "red", data: contractclauses.attention},
                {type: 'bar', label: 'Warning', backgroundColor: "orange", data: contractclauses.warning},
                {type: 'bar', label: 'Normal', backgroundColor: "green", data: contractclauses.normal}]},
    options: {legend: { display: false }, title: {display: true,text: 'Contract Clauses'}}
    });
// Planned Clauses Pie chart
new Chart(document.getElementById("contracts-pie-chart"), {type: 'doughnut',
    data: {labels: contracttypes,
            datasets:  [{label: "Number",backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
              data: [276,452,123]
            }
          ]},
    options: {legend: { display: true }, title: {display: true,text: 'Contract Types'}}
    });

var cid=""
var sid=""
// Create the Tables - The table showing the dialogue
{% include "CRUDdialogtable.js" %}
// Get the <span> element that closes the modal
     var dspan = document.getElementsByClassName("dclose-btn")[0];
    
    // When the user clicks on <span> (x), close the modal
    dspan.onclick = function() {
        dialogmodal.style.display = "none";
        }
    // When the user clicks on the CANCEL button in the modal close the modal
    document.getElementById("dCanBtn").onclick = function() {
        dialogmodal.style.display = "none";
        }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == dialogmodal ) {
            dialogmodal.style.display = "none";
            }
    }

</script>
{% endblock %}