{% set module = 'home' %}
{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container" >
    <div class="row" style="padding:10px;">
        <div class="col-2">
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Contracts</h5>
                        <a href="/contracts" type="button" class="btn w-100 btn-info" id="contractsbtn">{{contracts}}</a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Issues</h5>
                        <a href="/issues" type="button" class="btn w-100 btn-success" id="issuesbtn">{{issues}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Attention</h5>
                        <a href="/contracts?action=Attention" type="button" class="btn w-100 btn-danger" id="attentionbtn">{{attention}}</a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Changes</h5>
                        <a href="/changes" type="button" class="btn w-100 btn-danger" id="changesbtn">{{changes}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Warning</h5>
                        <a href="/contracts?action=Warning" type="button" class="btn w-100 btn-warning" id="warningbtn">{{warning}}</a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:5px">
                <div class="card text-darkgrey w-100" style="background-color:lightgrey">
                    <div class="card-body">
                        <h5 class="card-title">Risks</h5>
                        <a href="/risks" type="button" class="btn w-100 btn-success" id="risksbtn">{{risks}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <canvas id="contracts-pie-chart" width="200" height="100" ></canvas>
        </div>
    </div>
    <div class="row" style="padding: 10px;">
        <div class="col-6">
            <canvas id="overdue-clauses-bar-chart" width="200" height="100" ></canvas>
        </div>
        <div class="col-6">
            <canvas id="clauses-bar-chart" width="200" height="100"></canvas>
        </div>
    </div>
    <div class="row" style="padding: 10px;">
        <div id="DialogDataTable"></div>
    </div>
</div>

<script>

    //dialog={{dialog|safe}}
dialog=[]
userid='{{userid}}'

//next 12 months
var theMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
var today = new Date();
var aMonth = today.getMonth();
var i;
var currMonths=[]
for (i=0; i<12; i++) {
    currMonths.push(theMonths[aMonth])
    aMonth++;
    if (aMonth > 11) {
        aMonth = 0;
    }   
}
var contracttypes=["Resource","Project","Service"]

var contractclauses={attention:[65, 5, 80, 81, 56, 85, 40,0,0,0,0,1],
                    warning:[20, 10, 30, 11, 36, 45, 26],
                    normal:[80, 90, 20, 3, 11, 12, 40]
                    }

var OverDue = ["1 Day", "3 Days","1 Wk", "2 Wks", "3 Wks", "1 Mth", "2 Mth", "3 Mth", "6 Mth", "9 Mth", "1 Yr", "> 1Yr"];

// Overdue Clauses Bar chart
new Chart(document.getElementById("overdue-clauses-bar-chart"), {type: 'bar',
    data: {labels: OverDue,
            datasets:  [{type: 'bar', label: 'Attention', backgroundColor: "red", data: contractclauses.attention},
                {type: 'bar', label: 'Warning', backgroundColor: "orange", data: contractclauses.warning},
                {type: 'bar', label: 'Normal', backgroundColor: "green", data: contractclauses.normal}]},
    options: {legend: { display: false }, title: {display: true,text: 'Overdue Contract Clauses'}}
    });

// Planned Clauses Bar chart
new Chart(document.getElementById("clauses-bar-chart"), {type: 'bar',
    data: {labels: currMonths,
            datasets:  [{type: 'bar', label: 'Attention', backgroundColor: "red", data: contractclauses.attention},
                {type: 'bar', label: 'Warning', backgroundColor: "orange", data: contractclauses.warning},
                {type: 'bar', label: 'Normal', backgroundColor: "green", data: contractclauses.normal}]},
    options: {legend: { display: false }, title: {display: true,text: 'Contract Clauses'}}
    });
// Planned Clauses Pie chart
new Chart(document.getElementById("contracts-pie-chart"), {type: 'doughnut',
    data: {labels: contracttypes,
            datasets:  [{label: "Number",backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
              data: [276,452,123]
            }
          ]},
    options: {legend: { display: true }, title: {display: true,text: 'Contract Types'}}
    });
// Reply button for dialogue
    var Viewbtn = function(cell, formatterParams){
        return '<button type="button" class="btn-warning">View</button>';};

    var DialogData = $.ajax({
        type: "POST", dataType: "json", contentType: "application/json", async: false,
        url: "/getbasedata",
        data: JSON.stringify({module:'dialog',userid:userid,cid:"",sid:"",status:""}),
        success: function(results) {return results;},
        error: function(err) {console.log(err);}
        }).responseJSON;
    var DialogDataTable = new Tabulator("#DialogDataTable",{
        data:DialogData,
        columns:[{title:"Type",field:"module",width:100,
                    formatter:"link", cellClick:function(e, cell){
                        alert("/"+cell.getRow().getData().module+
                            "/contractid/"+cell.getRow().getData().contractid+
                            "/"+cell.getRow().getData().issueid)}},
                {title:"Comments",field:"comments",width:700},
                {title:"upduserid",field:"upduserid",width:150},
                {title:"createdt",field:"createdt",width:150,
                    formatter:"datetime", formatterParams:{
                        outputFormat:"DD/MM/YY HH:MM",invalidPlaceholder:"(invalid date)"},
                    },
                {title:"status",field:"status",width:100,formatter:function(cell, formatterParams){
                    var value = cell.getValue();
                    if(value == "Attention"){return "<span style='color:red;'>" + value + "</span>";}
                    else if (value == "Warning"){return "<span style='color:orange;'>" + value + "</span>";}
                    else {return "<span style='color:green;'>" + value + "</span>";}}
                },
                {formatter:Viewbtn, width:80, hozAlign:"center",
                    cellClick:function(e, cell){window.location.href ="/dialog/contractid/"+cell.getRow().getData()}
                }],
                addRowPos:"top",layout:"fitColumns"
                });
</script>
{% endblock %}